* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #1f4037, #0b2027);
}

.calculator {
  width: 330px;
  padding: 23px;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 30px 60px rgba(0,0,0,0.4);
}

.display {
  height: 75px;
  background: #0b2027;
  border-radius: 18px;
  color: #fff;
  font-size: 30px;
  padding: 16px;
  text-align: right;
  margin-bottom: 25px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

button {
  height: 62px;
  border:none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background: rgba(87, 79, 79, 0.18);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.08),
    inset 0 1px 1px rgba(255, 255, 255, 0.15);
}

button:active{
  background-color: green;
}

.operator {
   background: orange; 
  }
.clear { 
  background: red;
 }
.equal {
   background: darkgreen;
   }

